@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;

}

p {
  color: wheat;
  font-size: 14px;
}

.main-div {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

label {
  margin-top: 20px;
  font-size: 14px;
}

.appsection {
  border: solid 1px white;
  width: fit-content;
  margin: 20px;
  margin-top: 70px;
  background-color: #49243E;
  border-radius: 20px;
  padding: 10px;

}

.right-side {
  width: 50%;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.context-box {
  border: solid 1px white;
  width: fit-content;
  margin: 20px;
  margin-top: 70px;
  background-color: #333A73;
  border-radius: 20px;
  padding: 10px;

}

.count-box {
  border: solid 1px white;
  width: fit-content;
  margin: 20px;
  margin-top: 70px;
  background-color: #333A73;
  border-radius: 20px;
  padding: 10px;

}

.countarea {
  border: solid 1px white;
  width: fit-content;
  margin: 20px;
  margin-top: 70px;
  background-color: #240A34;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  z-index: 9999;
}

.passingProps .myflow {
  position: relative;
  font-size: 34px;
  z-index: 0;
  animation: moveDown 2s ease-in-out;
}

.passingProps .myflow2 {
  position: relative;
  font-size: 34px;
  z-index: 9999999999;

  animation: moveDowns 2s ease-in-out;
}


.passingProps.invisible {
  display: none;
  transition: 1s forwards;
}

@keyframes moveDown {
  from {
    top: -50px;
    /* Starting position */
  }

  to {
    top: 80px;
    /* Ending position */
  }
}

@keyframes moveDowns {
  from {
    top: -50px;
    /* Starting position */
  }

  to {
    top: 420px;
    /* Ending position */
  }
}




.showarea {
  border: solid 1px white;
  width: fit-content;
  margin: 20px;
  margin-top: 70px;
  background-color: #824D74;
  border-radius: 20px;
  padding: 10px;

}


.increase {
  border: solid 1px white;
  width: fit-content;
  margin: 20px;
  margin-top: 70px;
  background-color: #481E14;
  border-radius: 20px;
  padding: 10px;

}

h1 {
  margin: 0 auto;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: black;
  z-index: 99999;
  padding: 10px;

}

.line {
  height: 100vh;
  background-color: yellowgreen;
  width: 2px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}

.body-term {
  position: absolute;
  bottom: 100px;
  background-color: rgb(49, 19, 19);

  width: 50%;
  color: white;

}

.main-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

}

.terminal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.terminal-input {
  position: absolute;
  bottom: 20px;
  display: flex;
  width: 80%;
  gap: 20px;
  background-color: #35374B;
  padding: 10px;

}


input {
  color: rgb(129, 248, 9);
  font-size: 16px;
  background-color: transparent;
  outline: none;
  border: none;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}

code {
  color: greenyellow;
  font-size: 18px;
}

.chip-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;

}

label {
  white-space: nowrap;
}

.chip {
  border: solid 1px white;
  border-radius: 20px;
  background-color: transparent;
  padding: 20px
}