body {
  font-family: "Nunito", sans-serif;

}

.main-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

}

.terminal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.terminal-input {
  position: absolute;
  bottom: 20px;
  display: flex;
  width: 80%;
  gap: 20px;
  background-color: #35374B;
  padding: 20px;
}


input {
  color: rgb(129, 248, 9);
  font-size: 16px;
  background-color: transparent;
  outline: none;
  border: none;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}

code {
  color: greenyellow;
  font-size: 18px;
}

.chip-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;

}

label {
  white-space: nowrap;
}

.chip {
  border: solid 1px white;
  border-radius: 20px;
  background-color: transparent;
  padding: 20px
}